<?xml version="1.0" encoding="UTF-8"?>

<odoo>

    <menuitem id="menu_purchase_request" name="Purchase Requests"
        parent="purchase.menu_purchase_root" />
    <menuitem id="menu_purchase_request_main" name="Purchase Requests"
        parent="menu_purchase_request" action="action_purchase_request" />
</odoo>